<!DOCTYPE html>
<html lang="en">
<head>
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  text-align: center;
}
th,td{
  padding : 2px;
}
</style>
</head>
<h1 style="COLOR:GREEN" align="center"> CARGO BOOKING FORM</h1>

   <h1>SHRI LOGISTICS</h1>
    <h3><address>
             1213 IN JAMNER<br>
             PHONE: 9595754851<br>
             info@shri.com <br>
             www.shrilogistics.com
        </address>
    </h3>

<table>
    <tr>
        <th>Cargo No</th>
        <td>{{carnumber}}</td>
    </tr>
    <br>
    <tr>
        <th>Transit Days</th>
        <td>{{runningdays}}</td>
    </tr>
    <tr>
        <th>origin port</th>
        <td>{{carstartlocation}}</td>

    </tr>
    <tr>
        <th>Rs</th>
        <td>{{carfourthlocation}}</td>

    </tr>
    <tr>
        <th>destination port</th>
        <td>{{carendlocation}}</td>

    </tr>
    <tr>
        <th>Book</th>
        <td>{{carthridlocation}}</td>

    </tr>
    <tr>
        <th> Active</th>
        <td>{{carstatus}}</td>


    </tr>



 </table>
            <h5 align="LEFT">PLACE: JAMNER</h5>
            <H5 align="left">DATE:</H5>
             <h3 align="right">SHRI LOGISTICS</h3>
                <h5 align="right">
                    Stamp and Signature
                </h5>

</html>



